# SQL

Designed to work with **Relational data**: pieces of data related to one another. Lots of real world data are inherently related.

**primary key**: unique identifier for table
**foreign key**: key from a foreign table

In [ ]:
import sqlite3
conn = sqlite3.connect('table.sqlite')

cur = conn.cursor()

query = '''
SELECT *
FROM employees
LIMIT 5
'''

cur.execute(query).fetchall()

# wrapping results into pd dataframes

import pandas as pd

df = pd.DataFrame(cur.execute(query).fetchall())

#access column names with cur.description

df.columns = [x[0] for x in cur.description]

In [ ]:
# pandas method to directly read from SQL databases. All you need is conn, no cursor

pd.read_sql(query, conn)

In [ ]:
# complex query
complex_query = """
SELECT customerNumber, customerName, city, creditLimit
FROM customers
WHERE (city = 'Boston' OR city = 'Madrid') AND (creditLimit >= 50000.00)
ORDER BY creditLimit DESC
LIMIT 15
;"""
df = pd.read_sql(complex_query, conn)
df

In [ ]:
# understand table schema with PRAGMA table_info
pd.read_sql('''PRAGMA table_info(customers)''', conn)

In [ ]:
q = """
SELECT
    customerNumber,
    COUNT(*) AS number_payments,
    MIN(amount) AS min_purchase,
    MAX(amount) AS max_purchase,
    AVG(amount) AS avg_purchase,
    SUM(amount) AS total_spent
FROM payments
WHERE strftime('%Y', paymentDate) = '2004'
GROUP BY customerNumber
;
"""
pd.read_sql(q, conn)

q = """
SELECT
    customerNumber,
    COUNT(*) AS number_payments,
    MIN(amount) AS min_purchase,
    MAX(amount) AS max_purchase,
    AVG(amount) AS avg_purchase,
    SUM(amount) AS total_spent
FROM payments
GROUP BY customerNumber
HAVING avg_purchase > 50000
;
"""
pd.read_sql(q, conn)

In [ ]:
# JOIN
q = """
SELECT *
FROM orderdetails
JOIN products
    ON orderdetails.productCode = products.productCode
LIMIT 10
;
"""
pd.read_sql(q, conn)

# with aliasing
q = """
SELECT *
FROM orderdetails AS od
JOIN products AS p
    ON od.productCode = p.productCode
LIMIT 10;
"""
pd.read_sql(q, conn)

# USING: if keys are identical
q = """
SELECT *
FROM orderdetails
JOIN products
    USING(productCode)
LIMIT 10
;
"""
pd.read_sql(q, conn)

SELECT:
- `SELECT name FROM cats` same as `SELECT cats.name FROM cats`
WHERE: filter SELECT query results by some condition. Before grouping is applied
GROUP BY: typically use with aggregate. group records into summary rows and returns one record for each group
HAVING: provides condition on which to filter after grouping is applied
ORDER BY: sort results of SELECT by particular feature (default ASC)
DISTINCT: returns distinct values
UNION: combines results from multiple SELECT statements
LIMIT: limit output to set number of results